:root{
    /* Color styles */
--light: #FFFFFF;
--dark: #000000;
--bg-header: #F8F9FA;
--bg-searchbar: #E5E5E5;
--search-bar-text: #757575;
--bell-color: #FF8F00;
--bg-sidebar: #051E34;
--bg-main-navbar: #1B72E8;
--bg-breadcrumb: #165BBA;
--bg-main: #F8F9FA;
--bg-table-header: #F7F7F7;
--main-text-color: #212529;
--main-icon-color: #6C757D;
--main-process-color: #FFC107;
--main-failed-color: #DC3545;
--main-done-color: #198754;

}

/* utilities */
.debug{
    outline: 1px solid red;
}

/* utilities end */

/* HEADER */

header{
    width: 100%;
    background-color: var(--bg-header);
}

/* search area */
.search-area{
    flex-grow: 1;
}

.search-bar-color{
    background-color: var(--bg-searchbar);
}

/* search area end */

/* header commands area */
.links a{
    text-decoration: none;
    color: var(--main-icon-color);
    transition: color 0.3s;
}

.links a:hover{
    color: var(--bg-breadcrumb);
}

.fa-bell {
    color: var(--bell-color);
}

/* header commands area end */

/* HEADER END */

/* MAIN */

.wrapper{
    height: calc(100vh - 72px);
    width: 100%;
    overflow: hidden;
}

/* side bar classes */
#side-bar{
    width: 150px;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--bg-sidebar);
    background-image: url(../Assets/img/sidebar-bg.png);
    color: var(--light);
}

#side-bar li i{
    font-size: 1rem;
    padding-right: 1rem;
}
/* side bar classes end */

main{
    flex-grow: 1;
    overflow-y: hidden;
    height: 100%;
}

/* MAIN END */